/*Обнулення*/

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

/*=======================================================*/

/*----------block-customers------*/

.page_3 {
	background-color: #E3E6EE;
}

.container {}

.row {}

.page_3 .block_services {
	border-bottom: 2px solid black;
}

.page_3 .title_text {
	display: flex;
	color: #3008A1;
	font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1440 - 320)));
	line-height: calc(30px + (95 - 30) * ((100vw - 320px) / (1440 - 320)));
	font-weight: 700;
	justify-content: center;
	margin-top: calc(30px + (50 - 30) * ((100vw - 320px) / (1440 - 320)));
	margin-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1440 - 320)));
	margin-left: calc(10px + (50 - 10) * ((100vw - 320px) / (1440 - 320)));
}

.page_3 .text_item {

	font-weight: 400;
	font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (1440 - 320)));
	line-height: calc(30px + (47 - 30) * ((100vw - 320px) / (1440 - 320)));
	color: black;
	margin-left: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
}

.page_3 .image_item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(270px + (590 - 310) * ((100vw - 320px) / (1440 - 320)));
	height: calc(320px + (530 - 320) * ((100vw - 320px) / (1440 - 320)));
	margin-top: calc(0px + (-80 + 50) * ((100vw - 320px) / (1440 - 320)));
	;
}

.page_3 .button_services {
	display: flex;
	justify-content: center;
}

.page_3 .button {
	font-size: 22px;
	width: 150px;
	height: 50px;
	background-color: #3008A1;
	color: white;
	margin-bottom: 100px;
}

.page_3 .block-questions {
	background-color: white;
}

.page_3 .question_text {
	margin: 10px;
	padding-left: 20px;
	font-weight: 400;
	font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1440 - 320)));
	line-height: calc(30px + (63 - 30) * ((100vw - 320px) / (1440 - 320)));
	color: #3008A1;
	background-color: #D9D9D9;
	border-radius: 15px;
}

.page_3 .answer_text {
	padding-left: 20px;
	margin-bottom: 30px;
}

/*=======================================================*/