/*Обнулення*/

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}


/*======================= EDUCATION =========================*/

/*----------------block-1--------------*/
.page_2 {
	background-color: #E3E6EE;
}

.page_2 .block-1 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 400;
	border-bottom: 2px solid black;
}

.page_2 .text_block-1 {
	font-size: 20px;
	line-height: 30px;
	color: #320941;
	margin: 100px 0 100px 0;
}

.page_2 .title_block-1 {
	font-size: calc(30px + (55 - 30) * ((100vw - 320px) / (1440 - 320)));
	line-height: calc(30px + (80 - 30) * ((100vw - 320px) / (1440 - 320)));
	color: #FF0000;
}

.page_2 .image_block-1 {
	width: calc(280px + (600 - 300) * ((100vw - 320px) / (1440 - 320)));
	height: calc(330px + (670 - 330) * ((100vw - 320px) / (1440 - 320)));
}


/*----------------block-2--------------*/
.page_2 .title_block-2 {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.page_2 .image_block-2 {
	width: calc(280px + (610 - 300) * ((100vw - 320px) / (1440 - 320)));
	height: calc(330px + (770 - 330) * ((100vw - 320px) / (1440 - 320)));
}

.page_2 .button_block-2 {
	display: flex;
	align-items: end;
	justify-content: center;
}

.page_2 .button {
	background-color: #3008A1;
	color: white;
	margin-bottom: 80px;

}

/*====================================================*/