@import url(component.css);

#block-1,
#block-3 {
    position: relative;
    padding-top: 30px;
}

#block-1 p {
    color: #000;
    text-align: center;
    font-size: calc(18px + (36 - 18) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 400;
    line-height: 140%;
    padding-top: calc(20px + (78 - 20) * ((100vw - 320px) / (1440 - 320)));
    padding-bottom: calc(20px + (78 - 20) * ((100vw - 320px) / (1440 - 320)));
    padding-left: calc(3% + (20 - 3) * ((100vw - 320px) / (1440 - 320)));
    padding-right: calc(3% + (20 - 3) * ((100vw - 320px) / (1440 - 320)));
}

#block-1 .left-img {
    background-image: url(../img/block1-left-img.png);
    background-size: cover;
    width: 20vw;
    height: calc(16vw * 1.8);
    position: absolute;
    left: 0;
    bottom: 0;
}

#block-1 .right-img {
    background-image: url(../img/block1-right-img.png);
    background-size: cover;
    width: 24vw;
    height: calc(22vw * 1.8);
    position: absolute;
    right: 0;
    bottom: 0;
}

#block-1 .title-ai {
    width: 50%;
    display: block;
    margin: 0 auto;
}

#block-2 .btn-register,
#block-1 a .btn-ai {
    display: block;
    width: calc(200px + (312 - 200) * ((100vw - 320px) / (1440 - 320)));
    height: calc(65px + (82 - 65) * ((100vw - 320px) / (1440 - 320)));
    flex-shrink: 0;
    border-radius: 16px;
    background: #3008A1;
    margin: 30px auto;
    color: white;
    font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 400;
    line-height: 1;
}

.btn__regist {
    color: white;
}

.btn-register {
    margin-left: 580px;
    color: white;
}

#block-2 h2 {
    padding: 15px;
}

#block-2 .card {
    max-width: 536px;
    min-height: 340px;
    margin: 0 8%;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3008A1;
    font-size: 50px;
    font-weight: 400;
}

#block-2 .card-header h4 {
    color: #3008A1;
    font-size: calc(19px + (42 - 19) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 700;
    line-height: 120%;
}

#block-2 .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: calc(17px + (24 - 17) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 400;
}

#block-2 .icon-card {
    width: calc(90px + (176 - 90) * ((100vw - 320px) / (1440 - 320)));
    height: calc(90px + (176.206 - 90) * ((100vw - 320px) / (1440 - 320)));
    transform: rotate(8.6deg);
    flex-shrink: 0;
}

#block-3 {
    padding-bottom: calc(8vw * 1.8);
}

#block-3 h2.title {
    padding: 44px;
}

#block-3 h3 {
    color: #3008A1;
    font-size: 64px;
    font-weight: 700;
}

#block-3 .accordion {
    width: 80vw;
    margin-left: auto;
}

#block-3 .accordion-button {
    color: #3008A1;
    font-size: calc(16px + (40 - 16) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 400;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-bottom: 10px;
}

#block-3 .accordion-button::after {
    scale: 1.5;
}

#block-3 .left-img {
    background-image: url(../img/block-3-left-img.png);
    background-size: cover;
    width: 22vw;
    height: calc(11vw * 1.8);
    position: absolute;
    left: 0;
    bottom: 0;
}

footer .border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) #9da4ab !important;
}

.button-header {
    display: flex;
    justify-content: center;

}

.button-header .btn-register {
    background-color: #3008A1;
    border: 2px solid #3008A1;
    border-radius: 20px;
    width: 312px;
    height: 82px;
    font-size: 32px;
}

.accordion-body {
    font-size: calc(17px + (24 - 17) * ((100vw - 320px) / (1440 - 320)));
}

.text-title_header {
    margin-top: 35px;
}