@import url(component.css);

#block-2 .btn-register {
    width: 312px;
    height: 82px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #3008A1;
    margin: 0 calc(50vw - 270px);
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}